.home-page {
    padding: 1px 0 40px 0;
    .add-new-link {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 30px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #bf4e5a;
        transition: .3s;
        &:hover {
            box-shadow: 0 0 5px #918989;
        }
        .add-new-btn {
            position: absolute;
            top: -12px;
            right: 11px;
            font-size: 50px;
            color: white;
        }
    }
    @media (min-width: 730px) {
        background-color: white;
        width: 720px;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        margin: 0 auto;
    }
    @media (min-width: 1060px) {
        width: 1040px;
    }
}